<%= render 'partials/dropdown' %>
<%= render 'partials/form' %>



<div class="container mt-5 text-center">
  <h3>What have you done today?</h3>

<%= month_calendar(events: @entries, attribute: :entry_date) do |date, entries| %>
  <div class="day">
    <%= date.day %>
  </div>
  <% entries.each do |entry| %>
     <%# #something that will filter models by select %>
      <div class="card-header">
        <div class="card-title">
        <% if entry.class == Mood %>
            <%= entry.created_at.strftime("%I:00").to_i < 12 ? '(AM)' : '(PM)' %>
          <% end %>
          <%= entry.class %>:
          <%= entry.title %>
        </div>
      </div>
  <% end %>
<% end %>