<%= render 'partials/form' %>

<div class="container mt-5 text-center">
  <h3>What have you done today?</h3>

<%= month_calendar(events: @entries, attribute: :entry_date) do |date, entries| %>
  <div class="day">
    <%= date.day %>
  </div>
  <% entries.each do |entry| %>
    <div class="card-header">
      <div class="card-title">
        <%= entry.class %>:
        <%= entry.title %>
      </div>
    </div>
  <% end %>
<% end %>