<div class="container mt-5">
  <%= form_with model: @habits, url: habits_new_path  do |f| %>
    <div class="form-group">
      <%= f.label :habits %>
      <% Habits::HABIT_LIST.each do |key| %>
      <%= f.check_box :title, { multiple: true }, key,  nil %>
        <%= f.label key %>
      <% end %>
    </div><br>


    <div>
      <%= f.label :entry_date, style: "display: block" %>
      <%= f.date_field :entry_date, :value => Time.now.strftime('%Y-%m-%d') %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end%>

  <%= link_to 'Back', root_path %>
</div>